<div>

  <div id="files-upload"></div>
  <table class="table table-sm table-hover table-striped">
    <thead>
      <tr>
                <th scope="col">Date</th>

        <th scope="col">Type</th>
        <th scope="col">Description</th>

      </tr>
    </thead>
    <tbody>
      {{#each files}}
      <tr>
        <th scope="row">{{formatDate this.createdAt}}</th>
        <td>{{this.type}}</td>
        <td>{{this.description}}</td>
       

      </tr>
      {{/each}}
    </tbody>
  </table>
</div>