<div>

  <table class="table table-sm table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Type</th>
        <th scope="col">Worker</th>
        <th scope="col">File</th>
      </tr>
    </thead>
    <tbody>
      {{#each file}}
      <tr>


        <th scope="row">{{this.type}}</th>
        <td>{{this.worker}}</td>
        <td>{{this.lastName}}</td>
        <td><a href="{{this.file}}">Download file</a></td>
        



      </tr>
      {{/each}}

    </tbody>
  </table>


</div>